* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQkGySgA616mTGHFtZa8dIzhcDtQZBTkStIg&s");
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.SP {
    display: block;
    margin: 50px auto;
}

p {
    color: white;
    text-align: center;
    border: solid;
    padding: 20px;
    margin: 500px;
}

.bottombox {
    display: block;
    background-color: #eae8e4ef;
    list-style: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%; 
    max-width: 350px; 
    margin: 35px auto 0;
}

.elements a img {
    max-width: 100px; 
    height: auto;
}

.designelm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.designelm ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 50%; 
    max-width: 300px; 
}

.designelm li {
    margin: 35px 10px;
    margin-top: 15px;
}

.designelm a {
    text-decoration: none;
    color: black; 
    font-size: 16px; 
}

.copyright h6 {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 100%;
    margin: auto;
}